.taskItem {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.task {
  border: solid rgb(85, 85, 85) 1px;
  border-radius: 5px;
  background-color: rgb(193, 222, 250);
  margin: 0.3em 0 0.3em 0;
  padding: 3px;
}
