/* Todo */

.todo {
  background-color: rgb(227, 240, 253);
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 0.5em 0 0.5em 0;
}

.completed {
  text-decoration: line-through;
}
